# Get your OpenAI API Key here for chat models: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Get your Groq API Key here for reasoning models: https://groq.com/docs/api-reference/introduction
GROQ_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Database connection string
# Example for local PostgreSQL running via docker-compose.yml
DATABASE_URL="postgresql://user:password@localhost:5432/myappdb"

# Add other environment variables as needed
